﻿body {
}

    body .top-bar {
        width: 1200px;
        display: flex;
        margin: 0 auto;
        background-color: aquamarine;
        padding: 10px 0;
    }

        body .top-bar .contact {
            flex: 7;
        }

        body .top-bar .auth {
            flex: 3;
        }


        body .top-bar span {
            margin: 0 10px;
        }

        body .top-bar button {
            margin: 0 10px;
        }



    body .main-bar {
        width: 1200px;
        display: flex;
        margin: 10px auto;
        /*border: 2px solid #00ff90;*/
    }

        body .main-bar logo-img {
            flex: 2;
        }

        body .main-bar ads-img {
            flex: 4;
        }

        body .main-bar img {
            width: 100%;
        }
